<ion-nav>
    <ion-header translucent>
        <ion-toolbar>
            <ion-title>Nav</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
        <ion-list>
            <ion-item *ngFor="let item of techs" button (click)="showDetail(item.title)">
                <ion-icon slot="start" name="logo-{{item.icon}}" [ngStyle]="{'color': item.color}"></ion-icon>
                <ion-label>
                    <h3>{{item.title}}</h3>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-nav>