<ion-list>
    <ion-list-header>
        app-通话记录
    </ion-list-header>
    <ion-item>
        <h3>该函数返回通话记录</h3>
        <ion-input type="text" [(ngModel)]="callFilter"></ion-input>
    </ion-item>
    <ion-item>
        <ion-button (click)="getCallLog()">该函数返回通话记录</ion-button>
    </ion-item>
    <ion-item>
        <h3>检查权限</h3>
        <p>{{hasReadPermission}}</p>
    </ion-item>
    <ion-item>
        <ion-button (click)="defaultHasReadPermission()">检查权限</ion-button>
    </ion-item>
    <ion-item>
        <ion-button (click)="requestReadPermission()">请求权限</ion-button>
    </ion-item>
    <ion-item *ngFor="let item of callLogObject">
        <ion-label>
            <h2>{{item.name || item.number}}</h2>
            <h3>{{item.number}}</h3>
            <p>{{item.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </ion-label>
    </ion-item>
</ion-list>