<ion-app>
    <ion-content fullscreen>
        <ion-list>
            <ion-list-header>Badges</ion-list-header>
            <ion-item>
                <ion-label>Default</ion-label>
                <ion-badge>99</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Colors</ion-label>
                <ion-badge color="primary">11</ion-badge>
                <ion-badge color="secondary">22</ion-badge>
                <ion-badge color="tertiary">33</ion-badge>
                <ion-badge color="success">44</ion-badge>
                <ion-badge color="warning">55</ion-badge>
                <ion-badge color="danger">66</ion-badge>
                <ion-badge color="light">77</ion-badge>
                <ion-badge color="medium">88</ion-badge>
                <ion-badge color="dark">99</ion-badge>
            </ion-item>
            <ion-item>
                <ion-badge slot="start">11</ion-badge>
                <ion-label>My Item</ion-label>
                <ion-badge slot="end">22</ion-badge>
            </ion-item>
            <!-- <ion-item>
                <ion-label>Completed</ion-label>
                <ion-badge color="success" slot="end">80</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Warnings</ion-label>
                <ion-badge color="warning" slot="end">70</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Notifications</ion-label>
                <ion-badge color="danger" slot="end">1000</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Unread</ion-label>
                <ion-badge color="light" slot="end">24</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Drafts</ion-label>
                <ion-badge color="medium" slot="end">14</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Deleted</ion-label>
                <ion-badge color="dark" slot="end">4</ion-badge>
            </ion-item> -->
        </ion-list>
    </ion-content>
</ion-app>